# dependências
/node_modules
/.pnp
.pnp.js

# testes
/coverage

# compilação do next.js
/.next/
/out/
/build

# logs de depuração
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# arquivos de ambiente local (MUITO IMPORTANTE!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# arquivos temporários do typescript
*.tsbuildinfo
next-env.d.ts

.vercel
